*{
  margin: 0;
  padding: 0;
}
h1{
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-sm{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-sm #board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}
.cells {
  width: 30%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  cursor: pointer;
}
.container{
  width: 90%;
}
.left{
  margin-top: 20px;
  float: left;
}
.rigth{
  float: right;
  margin-top: 20px;
}
